<div
  class='absolute bg-light-grey dark:bg-dark-navy -z-10 top-0 bottom-0 left-0 right-0 *:w-full *:h-full'
>
  <svg
    class='dark:hidden flex md:hidden'
    width='375'
    height='812'
    fill='none'
    viewBox='0 0 375 812'
  >
    <circle cx='-113.5' cy='323.5' r='416.5' stroke='#EDF1F9' stroke-width='144'></circle>
  </svg>

  <svg
    class='hidden dark:flex md:dark:hidden'
    width='375'
    height='812'
    fill='none'
    viewBox='0 0 375 812'
  >
    <circle cx='-113.5' cy='323.5' r='416.5' stroke='#2D3949' stroke-width='144'></circle>
  </svg>

  <svg
    class='hidden md:dark:hidden md:flex xl:hidden'
    width='438'
    height='531'
    fill='none'
    viewBox='0 0 438 531'
  >
    <circle cx='-50.5' cy='42.5' r='416.5' stroke='#EDF1F9' stroke-width='144'></circle>
  </svg>

  <svg
    class='hidden md:dark:flex md:hidden xl:dark:hidden'
    width='438'
    height='531'
    fill='none'
    viewBox='0 0 438 531'
  >
    <circle cx='-50.5' cy='42.5' r='416.5' stroke='#2D3949' stroke-width='144'></circle>
  </svg>

  <svg
    class='hidden md:hidden xl:dark:hidden xl:flex'
    width='1440'
    height='960'
    fill='none'
    viewBox='0 0 1440 960'
  >
    <g stroke='#edf1f9' stroke-width='144'>
      <circle cx='-50.5' cy='75.5' r='416.5'></circle>
      <circle cx='1388.5' cy='840.5' r='416.5'></circle>
    </g>
  </svg>

  <svg
    class='hidden md:hidden xl:dark:flex xl:hidden'
    width='1440'
    height='960'
    fill='none'
    viewBox='0 0 1440 960'
  >
    <circle cx='-50.5' cy='75.5' r='416.5' stroke='#2D3949' stroke-width='144'></circle>
    <circle cx='1388.5' cy='840.5' r='416.5' stroke='#2D3949' stroke-width='144'></circle>
  </svg>
</div>
